#header
{
    background-color: rgb(240, 169, 83);
    height: 100px;
    border: 1px solid red;
}
#header h1
{
    color: white;
}
#header h1 label
{
    color: black;
}
#menu
{
    height: 30px;
    background-color: brown;
    color: white;
}
#content
{
    background-color: pink;
    height: 150px;
    border:2px solid brown;
}
#content #content-left
{
    background-color: blue;
    color: white;
    height: 150px;
    width: 204px;
    float: left;
}
#content #content-right
{
    color: white;
    background-color: orange;
    height: 100px;
    padding-left: 204px;
}
#footer
{
    background-color: blueviolet;
    color: black;
    height: 70px;
}
